$navy-blue-color: #2e2f42;
$navy-blue-modal: #2e2f4266;
$slate-color: #434455;
$white-color: #ffffff;
$iris-color: #4d5ae5;
$cloud-color: #f4f4fd;
$ocean-color: #404bbf;
$cornflower-color: #e7e9fc;
$light-slate-color: #8e8f99;
