$navy-blue-color: #2e2f42;
$navy-blue-modal: #2e2f4266;
$slate-color: #434455;
$white-color: #ffffff;
$iris-color: #4d5ae5;
$cloud-color: #f4f4fd;
$ocean-color: #404bbf;
$cornflower-color: #e7e9fc;
$light-slate-color: #8e8f99;
$linear-gradient-hero: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
$box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);