@import "../utils/mixins";

.contact {
    @include break(320px) {
        display: none;
    }

    @include break(768px) {
        display: block;
    }

    @include break(1200px) {
        display: flex;
        margin-left: auto;
    }
}

.contact-menu-item:not(:last-of-type) {
    @include break(1200px) {
        margin-right: 40px;
    }
}