@import "../utils/variables";
@import "../utils/mixins";

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include break(480px) {
        flex-wrap: wrap;
    }
}

.customer-item {
    width: 168px;
    @include range(320px, 479px) {
        width: calc((100% - 16px) / 2);
    }
}

.customers-section {
    @include range(320px, 479px) {
        width: 100%;
    }
}

.customer-item:not(:nth-child(2n)) {
    @include range(320px, 479px) {
        margin-right: 10px;
    }

    @include break(480px) {
        margin-right: 10px;
    }
}

.customer-item:not(:nth-child(n + 4)) {
    @include range(320px, 479px) {
        margin-bottom: 72px;
    }

    @include break(480px) {
        margin-bottom: 72px;
    }

    @include break(1200px) {
        margin-bottom: 0;
    }
}

.customer-item:not(:nth-child(3n)) {
    @include break(768px) {
        margin-right: 24px;
    }
}

.customer-item:not(:nth-child(n + 3)) {
    @include break(768px) {
        margin-bottom: 72px;
    }
    @include break(1200px) {
        margin-bottom: 0;
    }
}

.customer-item:not(:last-child) {
    @include break(1200px) {
        margin-right: 24px;
    }
}

.customer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88px;
    border: 1px solid $light-slate-color;
    border-radius: 4px;
    fill: $light-slate-color;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-logo:hover,
.customer-logo:focus {
    border-color: $ocean-color;
}

.customer-logo-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-logo:hover .customer-logo-icon,
.customer-logo:focus .customer-logo-icon {
    fill: $ocean-color;
}