@import "../utils/mixins";

.examples-section {
    @include range(320px, 479px) {
        display: none;
    }

    @include break(480px) {
        display: none;
    }

    @include break(1200px) {
        display: flex;
        padding-top: 0;
    }
}

@include break(1200px) {
    .examples-list {
        display: flex;
        justify-content: space-between;
    }

    .no-gap {
        display: block;
    }
}